In [4]:
import pandas as pd
from pandasql import sqldf

In [5]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Helper function to generate random dates
def random_date(start, end):
    return start + timedelta(days=random.randint(0, (end - start).days))

# Generate 50 customers
customer_ids = list(range(1, 51))
names = [f"Customer_{i}" for i in customer_ids]
signupdate_start = datetime(2022, 1, 1)
signupdate_end = datetime(2023, 12, 31)
signupdate = [random_date(signupdate_start, signupdate_end) for _ in customer_ids]

customers_df = pd.DataFrame({
    "CUSTOMERID": customer_ids,
    "NAME": names,
    "SIGNUPDATE": pd.to_datetime(signupdate)
})

# Generate 100 orders
order_ids = list(range(1001, 1101))
customer_refs = [random.choice(customer_ids) for _ in order_ids]
amounts = [round(random.uniform(20, 500), 2) for _ in order_ids]
statuses = [random.choice(["Completed", "Pending", "Cancelled"]) for _ in order_ids]
order_start = datetime(2023, 1, 1)
order_end = datetime(2023, 12, 31)
created_dates = [random_date(order_start, order_end) for _ in order_ids]

orders_df = pd.DataFrame({
    "ORDERID": order_ids,
    "CUSTOMERID": customer_refs,
    "AMOUNT": amounts,
    "STATUS": statuses,
    "CREATEDAT": pd.to_datetime(created_dates)
})

In [6]:
## Test query
# Just put your query into the value q and put this as a parameter into sqldf function.
q = """
        SELECT * 
        FROM customers_df
        LIMIT 5;
    """

sqldf(q)

   CUSTOMERID        NAME                  SIGNUPDATE
0           1  Customer_1  2023-05-03 00:00:00.000000
1           2  Customer_2  2022-10-27 00:00:00.000000
2           3  Customer_3  2022-05-14 00:00:00.000000
3           4  Customer_4  2022-11-12 00:00:00.000000
4           5  Customer_5  2023-02-17 00:00:00.000000

In [7]:
# Questions
# 1) Count how many orders each customer has placed.
# 2) Find customers who have placed more than 2 orders. Show their customer_id and the number of orders.
# 3) List all orders with the customer's name, Columns: order_id, name, amount.
# 4) List all customers and their total order amount (show NULL if they have no orders).